# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Bower dependency directory (https://bower.io/)
bower_components

# NODE-WAF configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# NPM cache directory
.npm

# ESLint cache
.eslintcache

# REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Production
build/

# ENV files
.env
.env.local
.env.test
.env.development.local
.env.test.local
.env.production.local

# MISC
.DS_Store
.vscode