<!DOCTYPE html>
<html lang="en-us">

<!-- Start Head of Document -->

<head>

  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/game.css">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">

  <!-- TAB -->
  <link rel="icon" href="/images/favicon.ico">
  <title>Zone Unknown</title>

</head>

<!-- Start Body of Document -->

<body>
  {{!-- BACKGROUND --}}

  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="background"></div>

  {{{body}}}
</body>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/logic.js"></script>

</html>