<div class="mainDrop">
  <div class="mainForm">
    <img id="mainLogo" src="images/zu_head_white.png">
    <p>Welcome to ZONE UNKNOWN, an adventure game based on survival. You find yourself stranded in a solar system due to your warp drive breaking down. Explore 3 planets and find parts to rebuild your warp drive. Along the way, you will encounter harsh events that will test your survival skills. You need to manage your HEALTH, OXYGEN and FUEL. You lose 1 OXYGEN per turn and will need 2 FUEL to replenish your O2 at the ship (middle hex). When your HEALTH hits 0, you lose! To advance to the next planet, collect the warp drive piece and return to your ship. Good luck and don't forget to use the chat if you get stuck.</p>
    <br>
    <input id="usernameInput" type="input" placeholder="USERNAME">
    <div class="mainButton" id="continue"><p>CONTINUE</p></div>
    <div class="mainButton" id="newGame"><p>NEW GAME</p></div>
  </div>
</div>

<script src="/js/main.js"></script>
