* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron';
    color: #fff;
    background: #000000;
    background-attachment: fixed;
}

.mainDrop {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
}
.mainForm {
    z-index: 6;
    width: 1024px;
    height: 560px;
    padding: 24px 48px;
    border: 1px solid #ffffff;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    background: #0080ff32;
    font-size: 18px;
}
#mainLogo {
    z-index: 6;
    width: 512px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 22.5%;
}
#usernameInput {
    z-index: 7;
    width: 100%;
    height: 64px;
    border: 1px solid #000;
    color: #000;
    background: #fff;
    transition: 0.2s;
    text-align: center;
    font-size: 24px;
}
.mainButton {
    z-index: 7;
    float: left;
    width: 48.6%;
    height: 80px;
    padding: 20px;
    border: 1px solid #ffffff;
    margin: 24px 0;
    cursor: pointer;
    color: #fff;
    background: #00000080;
    transition: 0.2s;
    text-align: center;
    font-size: 24px;
}
#continue {
    margin-right: 24px;
}
#continue:hover {
    color: #000000;
    background: #00ff80;
    transition: 0.2s;
}
#newGame:hover {
    color: #000000;
    background: #0080ff;
    transition: 0.2s;
}

.navBar {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #00000064;
    background: #ffffff16;
}
.navContainer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.navLeft {
    position: relative;
    float: left;
    width: 33.333%;
    height: 80px;
    /* background: #ffffff32; */
    text-align: center;
    font-size: 24px;
}
.navMid {
    position: relative;
    float: left;
    width: 33.333%;
    height: 80px;
    /* background: #ffffff16; */
    text-align: center;
    font-size: 24px;
}
.navRight {
    position: relative;
    float: left;
    width: 33.333%;
    height: 80px;
    /* background: #ffffff32; */
    text-align: center;
    font-size: 24px;
}

#chat {
    float: left;
    margin-top: 20px;
    color: #8080a0;
    transition: 0.2s;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px #18181e90);
}
#home {
    max-width: 340px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    filter: drop-shadow(3px 3px 5px #18181e90);
}
#menu {
    float: right;
    margin-top: 20px;
    color: #8080a0;
    transition: 0.2s;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px #18181e90);
}

#chat:hover, #menu:hover {
    color: #fff;
    transition: 0.2s;
}

.footer {
    z-index: 5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ffffff32;
    background: #00000032;
    text-align: center;
    font-size: 24px;
}
.footContainer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.footLeft {
    position: relative;
    float: left;
    width: 33.333%;
    height: 80px;
    background: #40ff8032;
}
.footMid {
    position: relative;
    float: left;
    width: 33.333%;
    height: 80px;
    background: #4080ff32;
}
.footRight {
    position: relative;
    float: left;
    width: 33.333%;
    height: 80px;
    background: #ff408032;
}

#health {
    margin-top: 20px;
    color: #40ff80;
    filter: drop-shadow(2px 2px 3px #18181e90);
}
#oxygen {
    margin-top: 20px;
    color: #4080ff;
    filter: drop-shadow(2px 2px 3px #18181e90);
}
#fuel {
    margin-top: 20px;
    color: #ff4080;
    filter: drop-shadow(2px 2px 3px #18181e90);
}

#modalDrop {
    z-index: 6;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000a0;
    background-attachment: fixed;
    transition: 0.2s;
}
#modalDrop p {
    filter: drop-shadow(2px 2px 3px #18181e90);
}
#modalContainer {
    z-index: 7;
    width: 1024px;
    max-height: 640px;
    padding: 24px 48px;
    border: 1px solid #ffffff;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
    background: #0080ff32;
    font-size: 24px;
}
.modalButton {
    z-index: 8;
    width: 100%;
    max-height: 112px;
    padding: 24px;
    border: 1px solid #ffffff;
    margin: 24px 0;
    cursor: pointer;
    color: #fff;
    background: #00000080;
    transition: 0.2s;
    font-size: 21px;
}
.modalButton:hover {
    color: #000000;
    background: #fff;
    transition: 0.2s;
}



.grid-base {
    width: 100%;
    /* background: #80808032; */
}

.grid {
    width: 1024px;
    padding-left: 512px;
    margin-left: auto;
    margin-right: auto;
    /* background: #80808032; */
}
.grid ol {
    position: relative;
    margin-top: -34px;
}

ol.sm-0 {
    width: 600px;
    left: -225px;
}
ol.sm-1 {
    width: 500px;
    left: -175px; /* +50px */
}
ol.sm-2 {
    width: 400px;
    left: -125px; /* +100px */
}

ol.md-0 {
    width: 700px;
    left: -325px;
}
ol.md-1 {
    width: 600px;
    left: -275px; /* +50px */
}
ol.md-2 {
    width: 500px;
    left: -225px; /* +100px */
}
ol.md-3 {
    width: 400px;
    left: -175px; /* +150px */
}

ol.lg-0 {
    width: 900px;
    left: -425px;
}
ol.lg-1 {
    width: 800px;
    left: -375px; /* +50px */
}
ol.lg-2 {
    width: 700px;
    left: -325px; /* +100px */
}
ol.lg-3 {
    width: 600px;
    left: -275px; /* +150px */
}
ol.lg-4 {
    width: 500px;
    left: -225px; /* +200px */
}

.hex {
    z-index: 4;
    position: relative;
    margin: 9px auto;
    width: 50px;
    height: 85px;
    border-radius: 9px/4.5px;
    background: #000000;
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: 46px;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(-7px 4px 3px #18181e80);
}

.hex:before, .hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}

.hex:before {
    transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
}

.hex:hover {
    transform: scale(1.1);
    background: #ffffff;
    cursor: pointer;
    filter: drop-shadow(6px 5px 3px #18181e80);
}

.hexCurrent {
    background: #00ff80;
}
.hexVisitedReach {
    background: #0080ff;
}
.hexVisitedNoReach {
    background: #004080;
}
.hexNotVisitedReach {
    background: #8080a0;
}
.hexNotVisitedNoReach {
    background: #404048;
}




@keyframes twinkleBG {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes twinkleBG {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes twinkleBG {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes twinkleBG {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes gradientBG {
	0% {background-position: 0% 100%;}
	100% {background-position: 100% 0%;}
}
@-webkit-keyframes gradientBG {
	0% {background-position: 0% 100%;}
	50% {background-position: 100% 0%;}
	100% {background-position: 0% 100%;}
}
@-moz-keyframes gradientBG {
	0% {background-position: 0% 100%;}
	50% {background-position: 100% 0%;}
	100% {background-position: 0% 100%;}
}
@-ms-keyframes gradientBG {
	0% {background-position: 0% 100%;}
	50% {background-position: 100% 0%;}
	100% {background-position: 0% 100%;}
}

.stars, .twinkling, .background {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
}

.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:1;

    -webkit-animation:twinkleBG 540s linear infinite;
    -moz-animation:twinkleBG 540s linear infinite;
    -ms-animation:twinkleBG 540s linear infinite;
    -o-animation:twinkleBG 540s linear infinite;
    animation:twinkleBG 540s linear infinite;
}

.background {
    z-index: 3;
    background: linear-gradient(45deg, #00000000, #00000000, #00000000, #ff000032, #ff800032, #ffff0032, #80ff8032, #0080ff32, #3060ff32, #6000ff32, #a000ff32, #00000000, #00000000, #00000000);
	background-size: 800% 800%;
    background-attachment: fixed;

    -webkit-animation:gradientBG 180s linear infinite;
    -moz-animation:gradientBG 180s linear infinite;
    -ms-animation:gradientBG 180s linear infinite;
    -o-animation:gradientBG 180s linear infinite;
    animation:gradientBG 180s linear infinite;
}


/* SOCKET */

#chatForm {
    margin: 15px 0;
   }
   #msg_text {
    border: 2px solid #0080ff;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
   }
   #submit {
    background: #0080ff;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;
    width: 19%;
   }
   #history {
    background: black;
    border: 2px solid #0080ff;
    height: 480px;
    overflow-y: scroll;
    overflow-x: wrap;
    word-wrap: break-word;
    color: #0080ff;
    text-align: left;
    padding: 5px;
    
   }

   /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background:black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0080ff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightskyblue; 
  }

   /* MODAL  */

   .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
    overflow-y: hidden;
    transition: 0.5s;
    font-size: 18px;
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    width: 90%;
    max-height: 100%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* STATUS MODAL */

  #statusCon{
      margin-top: 60px;
  }

  .statusMod{
      padding: 10px;
      color: #0080ff;
  }