* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #ffffff20;
}
::-webkit-scrollbar-thumb {
    background: #ffffff80;
}
::-webkit-scrollbar-thumb:hover {
    background: #00a080;
}
::-webkit-scrollbar-thumb:active {
    background: #0050ff;
}

:root {
    --scale: 1;
    --gScale: 1em;
}

.resize {
    max-width: 256px;
}
  
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #fff;
    background: #000;
    background-attachment: fixed;
    overflow-y: auto;
}

nav {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #00000032;
}
#navFix {
    position: relative;
    width: 1200px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}
#navHead {
    position: relative;
    transform: translate(-50%, 0%);
    transform-origin: 0% 50%;
    left: 50%;
    max-width: 24em;
}

footer {
    z-index: 5;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footerTop {
    height: calc(144px * var(--scale));
    background: #00000040;
}
#footerBottom {
    height: 4em;
    background: #00000080;
}
#footerTopFix {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#footerBottomFix {
    position: relative;
    width: 100%;
    padding: 1.35em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    /* z-index: 5; */
    font-size: 48px;
    color: #fff;
}
h2 {
    /* z-index: 5; */
    font-size: 28px;
    color: #a0a0a0;
}
h2:hover {
    color: #0060ff;
}
h3 {

}
h4 {

}
h5 {

}
h6 {
    font-weight: 300;
    font-size: 1.25em;
}
p {

}

#mainDrop {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
}

#grid {
    z-index: 4;
    width: 100%;
    /* background: #ffffff64; */
}
#gridFix {
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    /* background: #ffffff64; */
}

.g0, .g1, .g2, .g3, .g4 {
    display: inline-block;
    position: relative;
    width: calc(8.25 * var(--gScale));
}

.g1 { transform: translate(0%, calc(-4.75 * var(--gScale))); }
.g2 { transform: translate(0%, calc(-9.5 * var(--gScale))); }
.g3 { transform: translate(0%, calc(-14.25 * var(--gScale))); }
.g4 { transform: translate(0%, calc(-19 * var(--gScale))); }

.hex {
    z-index: 4;
    position: relative;
    transform: translate(-50%, 0%);
    transform-origin: 0% 50%;
    left: 50%;
    width: calc(5 * var(--gScale));
    height: calc(8.5 * var(--gScale));
    margin: calc(1 * var(--gScale)) 0;
    background: #8080a0;
    border-radius: calc(0.7 * var(--gScale))/calc(0.35 * var(--gScale));
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(0px 0px 1px #18181e80);
}

.hex:before, .hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}
.hex:before {
    transform: rotate(60deg);
}
.hex:after {
    transform: rotate(-60deg);
}

.hex:hover {
    transform: scale(1.25) translate(-50%, 0%);
    background: #ffffff;
    cursor: pointer;
    filter: drop-shadow(0px 0px 6px #18181e80);
}

.hex-current {
    background: #00ff80;
}
.hex-visitedReach {
    background: #0080ff;
}
.hex-visitedNoReach {
    background: #004080;
}
.hex-notVisitedReach {
    background: #8080a0;
}
.hex-notVisitedNoReach {
    background: #404048;
}