/* Standard media queries */
@media screen and (max-width: 3840px) {
    :root {
        --scale: 1.2;
    }
}
@media screen and (max-width: 2560px) {
    :root {
        --scale: 1.1;
    }
}
@media screen and (max-width: 1920px) {
    :root {
        --scale: 1;
    }
}
@media screen and (max-width: 1600px) {
    :root {
        --scale: 0.9;
    }
}
@media screen and (max-width: 1280px) {
    :root {
        --scale: 0.8;
    }
}
@media screen and (max-width: 960px) {
    :root {
        --scale: 0.7;
    }
}
@media screen and (max-width: 640px) {
    :root {
        --scale: 0.6;
    }
}
@media screen and (max-width: 360px) {
    :root {
        --scale: 0.5;
    }
}

/* Hex scale modifier */
@media screen and (max-aspect-ratio: 1/1) {
    :root {
        --gScale: 1.2vw;
    }
}
@media screen and (min-aspect-ratio: 1/1) {
    :root {
        --gScale: 0.8vh;
    }
}