/* BASE MODAL */

#modal {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000cc;
}

/* CLOSE BUTTON */

.modalClose {
    z-index: 21;
    position: fixed;
    bottom: calc(64px * var(--scale));
    left: 50%;
    transform: translateX(-50%);
    width: calc(64px * var(--scale));
    height: calc(64px * var(--scale));
    transition: 0.2s ease-in-out;
    opacity: 0.5;
}

.modalClose:hover {
    cursor: pointer;
    opacity: 1;
}

/* EVENT MODAL */

#modalEventBox {
    z-index: 21;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(720px * var(--mScale));
    padding: calc(48px * var(--mScale));
    border-radius: calc(64px * var(--mScale)) calc(4px * var(--mScale));
}

.mPos {
    border: calc(3px * var(--mScale)) solid #00ffa040;
    background: #00ffa040;
}

.mNeg {
    border: calc(3px * var(--mScale)) solid #ff006040;
    background: #ff006040;
}

.mNeu {
    border: calc(3px * var(--mScale)) solid #ffffff40;
    background: #00000040;
}

.mChance {
    border: calc(3px * var(--mScale)) solid #0080ff40;
    background: #0080ff40;
}

#modalEventText {
    font-size: calc(24px * var(--mScale));
    font-weight: 500;
    margin-bottom: calc(16px * var(--mScale));
}

.modalOutcome {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    height: calc(64px * var(--mScale));
    line-height: calc(64px * var(--mScale));
    margin-top: calc(16px * var(--mScale));
    margin-bottom: calc(16px * var(--mScale));
    margin-left: auto;
    margin-right: auto;
}

.modalOutcomeText {
    display: inline-block;
    vertical-align: top;
    font-size: calc(36px * var(--mScale));
    font-weight: 500;
}

.modalOutcomeIcon {
    display: inline-block;
    vertical-align: top;
    max-height: calc(64px * var(--mScale));
    max-width: calc(64px * var(--mScale));
    margin-left: calc(24px * var(--mScale));
    margin-right: calc(24px * var(--mScale));
}

.modalBtn {
    width: 100%;
    padding: calc(12px * var(--mScale)) calc(16px * var(--mScale));
    border: calc(3px * var(--mScale)) solid #ffffff40;
    border-radius: calc(24px * var(--mScale)) calc(2px * var(--mScale));
    margin-top: calc(16px * var(--mScale));
    color: #fff;
    background: #ffffff40;
    text-align: center;
    font-size: calc(24px * var(--mScale));
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.modalBtn:hover {
    cursor: pointer;
    color: #000;
    background: #fff;
}

.modalBtnText {
    transition: none;
}

/* CHAT MODAL */

#modalChat {
    z-index: 21;
    height: 100%;
    line-height: calc(24px * var(--cScale));
    padding-bottom: calc(240px * var(--scale));
    ;
    margin: calc(24px * var(--scale));
}

#modalChatMessages {
    text-align: left;
    word-wrap: break-word;
    overflow: auto;
    position: absolute;
    top: calc(24px * var(--scale));
    bottom: calc(264px * var(--scale));
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    border: calc(2px * var(--scale)) solid #ffffff80;
    /* border-radius: calc(24px * var(--scale)) calc(24px * var(--scale)) 0 0; */
}

.modalChatItem {
    z-index: 22;
    font-size: calc(24px * var(--cScale));
    padding: calc(8px * var(--cScale));
    margin-bottom: calc(4px * var(--cScale));
    color: #dcdcffa0;
    background: #000000a0;
}

.modalChatUser {
    color: #dcdcff;
    font-weight: 600;
}

#modalChatForm {
    position: absolute;
    bottom: calc(200px * var(--scale));
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

#modalChatInput {
    position: relative;
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
    font-size: calc(24px * var(--scale));
    font-weight: 400;
    line-height: calc(40px * var(--scale));
    width: 100%;
    padding: calc(8px * var(--scale)) calc(80px * var(--scale)) calc(8px * var(--scale)) calc(16px * var(--scale));
    border: calc(2px * var(--scale)) solid #ffffff80;
    border-radius: calc(2px * var(--scale)) calc(2px * var(--scale)) calc(24px * var(--scale)) calc(24px * var(--scale));
    color: #fff;
    background: #ffffff40;
    transition: 0.2s ease-in-out;
}

#modalChatSend {
    z-index: 22;
    position: absolute;
    top: calc(10px * var(--scale));
    right: calc(20px * var(--scale));
    width: calc(40px * var(--scale));
    height: calc(40px * var(--scale));
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}

#modalChatSend:hover {
    cursor: pointer;
    opacity: 1;
}

/* MENU MODAL */

#modalMenu {
    overflow: auto;
    position: absolute;
    top: calc(24px * var(--scale));
    bottom: calc(180px * var(--scale));
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    line-height: calc(24px * var(--cScale));
}

#modalMenu h1 {
    font-size: calc(32px * var(--cScale));
    padding: calc(12px * var(--scale));
    color: #dcdcff;
}

/* HOW TO MODAL */

#modalHowTo {
    overflow: auto;
    position: absolute;
    top: calc(24px * var(--scale));
    bottom: calc(180px * var(--scale));
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    line-height: calc(24px * var(--cScale));
}

#modalHowTo h1 {
    font-size: calc(32px * var(--cScale));
    padding: calc(12px * var(--scale));
    color: #dcdcff;
}

#modalHowTo p {
    font-size: calc(21px * var(--cScale));
    padding: calc(12px * var(--scale));
    color: #ffffff;
}

#modalHowTo ul, #modalHowTo ol {
    font-size: calc(18px * var(--cScale));
    padding: calc(12px * var(--scale));
    color: #dcdcff;
}