/* ////////////////////////CHAT///////////////////// */

body {
    overflow: hidden;
}

.chatMessageStyle {
    color: #dcdcffa0;
    z-index: 40;
    padding: 10px;
    font-size: 20px;
    border-bottom: double;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: double;
    border-top-width: 1px;
    border-top-color: #dcdcff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2px;
}

.chatUser {
    color: #dcdcff;
    font-weight: bold;
}

.chatOverlayStyle {
    position: relative;
    top: 50px;
    width: 87%;
    max-height: 100%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

#chatForm {
    margin: 15px;
}

#msg_text {
    border: 2px solid #dcdcff;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

#submit {
    background: #0080ff;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;
    width: 19%;
    margin-left: 15px;
}

#chatHistoryStyle {
    background: black;
    border: 2px solid #0080ff;
    border-radius: 10px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: wrap;
    word-wrap: break-word;
    color: #0080ff;
    text-align: left;
    padding: 5px;
}

/* width */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: black;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0080ff;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: lightskyblue;
}

/* /////////////////////MENU////////////////////// */

.menuModalStyle {
    width: 80%;
    max-height: 80%;
    margin: auto;
    margin-top: calc(32px * var(--scale));
    overflow-y: auto;
    overflow-x: wrap;
    line-height: calc(24px * var(--scale));
}

.howTo {
    font-size: calc(32px * var(--scale));
    padding: 12px;
    color: #dcdcff;
}

.menuPara {
    font-size: calc(21px * var(--scale));
    padding: 12px;
    color: #ffffff;
}

.ulMenu {
    font-size: calc(18px * var(--scale));
    padding: 6px;
    color: #dcdcff;
}

.olMenu {
    font-size: calc(18px * var(--scale));
    padding: 6px;
    color: #dcdcff;
}